<div class="nav navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Kokej</a>			
		</div>		
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/members">Members</a></li>
				{{#unless user}}
				<li><a href="/users/register">Register</a></li>
				<li><a href="/users/login">Log in</a></li>
				{{/unless}}
			</ul>
			{{#if user}}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Welcome, {{user.username}}</a></li>

				<li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      	Update user <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				      	<li><a href="/users/profile">Update profile</a></li>
				     	<li><a href="/users/admin">Update user settings</a></li>
				    </ul>
				  </li>
				<li><a href="/users/logout">Logout</a></li>
			</ul>
			{{/if}}

		</div>
	</div>
</div>